<div class = "background">
  <div class = "header">
    <img
      class="img-responsive"
      src="https://scontent.xx.fbcdn.net/v/t1.15752-0/p206x206/126422570_1551859098535055_8933589372524126272_n.jpg?_nc_cat=100&ccb=2&_nc_sid=58c789&_nc_eui2=AeE-LFmtOJqDvljxT1HSKpGIPpb6IjH3ak4-lvoiMfdqTiwaBKJJJSwdtTAil9__wAyzFQhr7rOb4P4XBIUSZ6th&_nc_ohc=6ELo4YLhkdwAX_53Zgl&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&tp=6&oh=004666380dc9b7f128d997bec6720290&oe=5FDAA6A2"
      width="100"
      height="100"
    />
    <h1>Post Pic</h1>
  </div>
  <nav>
    
    <a routerLink="/time-line">Time line</a>
    <a routerLink="/add-pic">Add Picture</a>
  </nav>

  <div class = "content">
    <router-outlet>
    </router-outlet>
  </div>

</div>
