nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 10px solid rgb(202, 178, 96);
  border-radius: 20px;
  margin: 10px;
}
nav a{
  text-decoration: none;
  color: rgb(168, 106, 11)
}

nav a:hover{
  color: rgb(90, 54, 1);
  text-decoration: underline;
}

.header{
  font-size: 30px;
  background-color: rgb(195,142,99);
  color: rgb(121, 63, 13);
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
.content{
  background-color: rgb(229,174,134);
  width: auto;
  height: auto;
  border: 10px solid rgb(121,63,13);
  border-radius: 20px;
}
.background{
  font-size: 20px;
  background-color: rgb(243, 205, 147);
}
.img-responsive{
  margin: 30px;
  border-radius: 10px;
}